<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/JavaScript/script.js" defer ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>3rd space sharing</title>
</head>

<body >
    <!-- NAVIGATION BAR START -->
    <%- include("nav") %>
    <!-- NAVIGATION BAR END-->
    <!-- DISPLAY SINGLE IMAGE WITH COMMENTS LIKE START-->
    <div class="container mt-5">
    <div class="p-2">
        <div class="d-flex flex-row user-info ">
            <div class="d-flex flex-column ml-2">
                <span class="d-block font-weight-bold name">
                    <div id="<%=data[0][0].idusers%>" class="uploadUser">
                        <h1><%= data[0][0].username %></h1>
                    </div>
                </span>
                <span class="date text-black-50">
                    <h2>Posted on <%=data[0][0].date%></h2>
                </span>
            </div>
        </div>
    </div>
    </div>
        <div class="mt-2" >
            <img id="<%=data[0][0].idimages%>" class="image" src="<%= data[0][0].src %>" >    
        </div>
    
    <div class="container mt-5">
    <div class="d-flex flex-column comment-section">  
        <div class="d-flex flex-row fs-12">
            <div class="like p-2 cursor">
                <%if(data[2]!=""){%>
                    <button class="btn bgColor" disabled>
                <%}else{%>
                    <button class="btn bgColor" id="likebtn" onclick="like()">
                <%}%>
                        <span id="icon"><i class="fa fa-thumbs-up"></i></span>
                        <span id="count"><%=data[0][0].likes%></span>
                    </button>
            </div>
        </div>
    </div>
    <div class="p-2 bgColor">
        <div class="d-flex flex-row align-items-start">
            <span class="font-weight-bold ">Enter your comment here:</span>
            <textarea id="commentInput" name="commentInput"  style="resize: none;" class="form-control ml-1 shadow-none textarea"></textarea>
        </div>
        <div class="mt-2 text-right">
            <button class="btn " onclick="comment()">Post Comment</button>
        </div>
    </div><br>
    <div id="commentArea">
        <%if(data[1]!=""){%>
            <%for(var i=0; i<data[1].length;i++){%>
                <div class="d-flex justify-content-center py-2">
                    <div class="second py-2 px-2"> 
                        <span class="text1"><%=data[1][i].comment%></span>
                        <div class="d-flex justify-content-between py-1 pt-2">
                            <div><span class="text2"> <%=data[1][i].username%></span></div>
                            <div>
                                <span class="text3"><%=data[1][i].date%></span>
                            </div>
                        </div>
                    </div>
                </div><br>
            <%}%>
        <%}else{%>
            <div class="bg-light p-2" id="nocomment">
                <p>no comment yet</p>
            </div><br>
        <%}%>
    </div>
    </div>
    </div>
    <!--END!->
</body>

</html>