<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/stylesheet.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="JavaScript/script.js" defer ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>3rd space sharing</title>
</head>

<body >
    <!-- NAVIGATION BAR START -->
    <%- include("nav") %>
    <!-- NAVIGATION BAR END-->
    <!-- DISPLAY IMAGES START-->
    <div class="container">
            <%for (var i=0; i < images.length ; i++) { %>
                <%if(i==0||i%3==0){%>
                    <div class="row">
                <%}%>
                    <div class="col-4">
                        <div>Published by: <%= images[i].username %></div>
                        <div>Picture Date: <%= images[i].date %></div>
                        <form action="/getImages/<%=images[i].idimages%>" id="<%=images[i].idimages%>" method="get">
                            <button class="btn" type="submit">
                                <img src="<%= images[i].src %>" style="width:150px" id="<%=images[i].idimages%>"><br>
                            </button>
                        </form>
                    </div>
                <%if(i%3==2){%>
                    </div><br>
                <%}%>
            <% } %>
    </div>
    <!--LIST OF IMAGES END-->
</body>

</html>